<body class = "bg-dark"> 
<div class="container bg-primary">
    <form enctype="multipart/form-data"  method ="POST" action="/registernew">
         <div class="form-group">
            <label class = "text-light font-weight-bold" for="firstName" class="text-lg text-bold">First Name</label>
            <input type="text" name = "firstName" class ="form-control form-control-lg"  placeholder = " First Name" required minlength="4" maxlength="15">
        </div>
         <div class="form-group">
            <label class = "text-light font-weight-bold" for="lastName">Last Name</label>
            <input type="text" name = "lastName" class ="form-control form-control-lg"  placeholder = "Last Name">
        </div>
        <div class="form-group">
            <label class = "text-light font-weight-bold" for="username">Username</label>
            <input type="text" name = "username" class ="form-control form-control-sm"  placeholder = "Username">
        </div>
        <div class="form-group">
            <label class = "text-light font-weight-bold" for="email">E-mail</label>
            <input type="email" name = "email" class ="form-control form-control-sm" placeholder = "Email">
        </div>
        <div class="form-group">
            <label class = "text-light font-weight-bold" for="password">Password</label>
            <input type="password" name = "password" class ="form-control form-control-sm" placeholder = "Password">
        </div>
       <div class="form-group">
            <label class = "text-light font-weight-bold" for="passwordMatch">Re-enter Password</label>
            <input type="password" name = "passwordMatch" class ="form-control form-control-sm"  placeholder = "Password">
        </div>
        <div class="form-group">
            <label class = "text-light font-weight-bold" for="uploaded_profile" class="col-md-3 control-label">Item Image</label>
            <input class="form-control" type="file" name="uploaded_profile" accept="" />
        </div>
        <button type = "submit" class = "font-weight-bold btn btn-dark pull-left button-block size">Submit</button>
       
</div>
</body>