input:invalid {
	border: 2px dashed red;
  }
  
  input:valid {
	border: 2px solid black;
  }
/* body {
	padding-top: 100px;
	z-index: -2px;
}

.navbar {
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
} */

.navbar a {
	float: right;
	display: block;
	color: #000000;
	text-align: center;
	padding: 0px 16px;
	text-decoration: none;
	font-size: 20px;
}

.main {
	padding: 16px;
	margin-top: 30px;
	height: 1500px;
}

.jumbotron {
	z-index: -1;
	margin-bottom: -67px;
	padding: 4rem 0rem;
	background-color: rgb(61, 17, 17);
}

h6{
	color: white;
	text-align: center;
	padding-left: 10px;
	font-size: 21px;
	font-family: 'Lobster', cursive;
	padding-bottom: 10px;
}

.button1 {
	margin-left: 10px;
	border-radius: 15px;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	background-color: #a54629a9;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	font-size: 14px;
	/*margin: -35px -5px;*/
	opacity: 0.6;
	transition: 0.5s;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.button1:hover {
	opacity: 1
}

.button2 {
	margin-left: 10px;
	border-radius: 15px;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	background-color: #1eff00a9;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	font-size: 14px;
	/*margin: -35px -5px;*/
	opacity: 0.6;
	transition: 0.5s;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.button2:hover {
	opacity: 1
}

.button3 {
	margin-left: 10px;
	border-radius: 15px;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	background-color: #5c1c51;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	font-size: 14px;
	/*margin: -35px -5px;*/
	opacity: 0.6;
	transition: 0.5s;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.button3:hover {
	opacity: 1
}

.button4 {
	margin-left: 10px;
	border-radius: 15px;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	background-color: #ff7300;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	font-size: 14px;
	/*margin: -35px -5px;*/
	opacity: 0.6;
	transition: 0.5s;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.button4:hover {
	opacity: 1
}

.button5 {
	margin-left: 10px;
	border-radius: 15px;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	background-color: #ff0000a9;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	font-size: 14px;
	/*margin: -35px -5px;*/
	opacity: 0.6;
	transition: 0.5s;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.button5:hover {
	opacity: 1
}

.button6 {
	margin-left: 10px;
	border-radius: 15px;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	background-color: #0026ffa9;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	font-size: 14px;
	/*margin: -35px -5px;*/
	opacity: 0.6;
	transition: 0.5s;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.button6:hover {
	opacity: 1
}

/* Full-width input fields */

input[type=text],
input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Set a style for all buttons */

button {
	background-color: rgb(32, 151, 36);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
	opacity: 0.8;
}

/* Extra styles for the cancel button */

.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

/* Center the image and position the close button */

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

.container {
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}

/* The Modal (background) */

modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 2;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
	padding-top: 60px;
}

/* Modal Content/Box */

.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	/* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%;
	/* Could be more or less, depending on screen size */
}

/* The Close Button (x) */

.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {
		-webkit-transform: scale(0)
	}
	to {
		-webkit-transform: scale(1)
	}
}

@keyframes animatezoom {
	from {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}